<div class="d-flex justify-content-between align-items-center">
    <h3 class="m-0"><%= pageTitle %></h3>
    <a class="btn btn-primary" href="/userGameBiodatas/create" role="button">
      <i class="bi-plus-lg"></i> Buat Baru
    </a>
  </div>
  
  <div class="table-responsive mt-3">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">nama_lengkap</th>
          <th scope="col">Alamat</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% userGameBiodatas.forEach((userGameBiodata, index) => { %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td class="w-50"><%= userGameBiodata.nama_lengkap %></td>
            <td><%= userGameBiodata.alamat%></td>
            <td>
              <div class="d-flex gap-2 text-nowrap">
                <a class="btn btn-primary btn-sm" href="/userGameBiodatas/<%= userGameBiodata.id %>" role="button">
                  <i class="bi-pencil-fill"></i> Detail
                </a>
  
                <a class="btn btn-primary btn-sm" href="/userGameBiodatas/<%= userGameBiodata.id %>/edit" role="button">
                  <i class="bi-pencil-fill"></i> Edit
                </a>
  
                <form method="post" action="/userGameBiodatas/<%= userGameBiodata.id %>?_method=DELETE">
                  <button class="btn btn-danger btn-sm" type="submit">
                    <i class="bi-trash-fill"></i> Hapus
                  </button>
                </form>
              </div>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>